<div
  *ngIf="host"
  class="flex flex-col basis-full bg-white-background h-36 rounded-lg"
>
  <div class="flex justify-center">
    <mat-list>
      <mat-list-item>
        <img matListItemAvatar src="{{ host.avatar }}" alt="user's image" />
        <h3 matListItemTitle>{{ host.fname + " " + host.lname }}</h3>
        <p matListItemLine>
          <span>{{ host.phone }}</span>
          <!-- <span class="demo-2"></span> -->
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="flex justify-center">
    <!-- <button
    type="button"
    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-2 mb-8"
  >
    {{ host.phone }}
  </button> -->
    <button
      (click)="seeHostProfile()"
      type="button"
      class="w-1/2 justify-center text-blue-700 border border-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
    >
      Xem trang
    </button>
  </div>
</div>
