<div class="grid grid-cols-12 gap-2 justify-between px-2 text-center">
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <!-- Sidebar for md screen above -->
  <div class="relative grid xs:hidden lg:block md:col-span-2 mt-6 mb-8 z-40">
    <app-forum-sidemenu></app-forum-sidemenu>
  </div>
  <!-- Posts -->
  <div
    *ngIf="this.socialPostsToDisplay"
    class="grid col-span-12 lg:col-span-7 mt-6 mb-12 bg-white-background shadow-md rounded-md text-center"
  >
    <div *ngFor="let post of this.socialPostsToDisplay">
      <app-forum-post [post]="post"></app-forum-post>
    </div>
    <span class="mb-6">Bạn đã xem hết các bài viết!</span>
  </div>
  <!-- Billboard -->
  <div
    class="grid xs:hidden lg:block md:col-span-3 mr-2 mt-6 mb-8 bg-purple-500"
  >
    <p>Bảng tin</p>
  </div>
</div>
