<div class="grid grid-cols-12 gap-2 justify-between px-2 text-center">
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <!-- Sidebar for md screen above -->
  <div class="xs:hidden lg:block md:col-span-2 mt-6 mb-8 flex justify-center">
    <app-forum-sidemenu class="sticky top-0"></app-forum-sidemenu>
  </div>
  <!-- Posts -->
  <div
    #socialPostContainer
    *ngIf="this.socialPostsToDisplay"
    class="grid col-span-12 lg:col-span-7 mt-6 mb-12 bg-white-background shadow-md rounded-md text-center scroll-container scroll-smooth scrollbar-hide"
  >
    <div *ngFor="let post of this.socialPostsToDisplay">
      <app-forum-post
        [post]="post"
        (changePostStatus)="changePostStatus($event)"
      ></app-forum-post>
    </div>
    <span class="mb-6">Bạn đã xem hết các bài viết!</span>
  </div>
  <!-- Billboard -->
  <div
    *ngIf="this.rentalPosts && this.currentFavourites"
    class="grid xs:hidden lg:block md:col-span-3 mr-2 mt-6 mb-8 scroll-container scroll-smooth scrollbar-hide"
  >
    <div class="sticky top-0 p-2 bg-white-background z-20">
      <span class="text-center font-medium"
        >Phòng trọ mới
        <span
          class="text-blue-500 hover:text-blue-700 cursor-pointer"
          (click)="toRentalPosts()"
          >Xem thêm</span
        ></span
      >
    </div>
    <div class="flex flex-col justify-between items-center">
      <div *ngFor="let post of this.rentalPosts">
        <app-post-card
          [post]="post"
          [isFavoured]="this.currentFavourites!.includes(post._id)"
        ></app-post-card>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
