<div
  [ngClass]="
    isLoading
      ? 'opacity-70 grid grid-cols-12 gap-1'
      : 'grid grid-cols-12 gap-1 px-4 lg:px-20'
  "
>
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <!-- Post content -->
  <div
    *ngIf="post"
    class="xs:flex xs:flex-col xs:col-span-12 lg:grid lg:col-span-9 bg-white-background py-4 px-8 mt-8 mb-8 rounded-lg"
  >
    <div class="flex flex-col">
      <!-- General Information -->
      <div class="mb-8">
        <!-- Title, time, like, report -->
        <div class="row flex justify-between mb-0 flex-wrap">
          <div class="flex flex-row justify-between flex-wrap">
            <p class="text-lg font-medium mb-0 mr-1">
              {{ post._title }}
            </p>
            <p
              class="relative top-1 text-sm font-normal italic mb-0"
              style="margin-left: 6px"
            >
              &#40;Ngày cập nhật gần nhất: {{ post._postingDateLocal }} &#41;
            </p>
          </div>

          <div class="flex justify-between p-2">
            <!-- Report this post -->
            <div class="flex items-center">
              <button
                (click)="openReportDialog(this.post._id)"
                type="button"
                class="text-blue-700 border border-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
              >
                Báo cáo
              </button>
            </div>
            <!-- Add to favorites -->
            <div
              class="flex items-center mx-2 relative bottom-1"
              (click)="addPostToFavorites(this.post._id)"
            >
              <mat-icon *ngIf="!this.isFavoured" color="warn"
                >favorite_border</mat-icon
              >
              <mat-icon *ngIf="this.isFavoured" color="warn"
                >favorite_</mat-icon
              >
            </div>
          </div>
        </div>
        <!-- Price, Area -->
        <div
          class="row flex flex-row flex-wrap gap-4 items-center justify-between text-sm text-sub-text-color"
        >
          <p>
            Giá:
            <span class="text-text-price-color font-medium"
              >{{ post.roomPrice.toLocaleString() }}đ</span
            >
          </p>

          <p>
            Giá điện:
            <span class="text-text-price-color font-medium"
              >{{ post.roomElectricPrice.toLocaleString() }}đ</span
            >
          </p>

          <p>
            Giá nước:
            <span class="text-text-price-color font-medium"
              >{{ post.roomWaterPrice.toLocaleString() }}đ</span
            >
          </p>
          <p>
            Diện tích:
            <span class="font-medium">{{ post.roomArea }}m<sup>2</sup></span>
          </p>
        </div>

        <!-- Address -->
        <div
          class="row flex flex-row gap-4 items-center justify-between text-sm text-sub-text-color"
        >
          <p>
            Địa chỉ phòng trọ:
            <span class="font-medium">{{ post.roomAddress }}</span>
          </p>
        </div>

        <!-- Tags -->
        <div *ngIf="post._tags">
          <p class="text-base font-medium">Thẻ bài viết</p>
          <div class="flex flex-row flex-wrap">
            <div
              class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
              *ngFor="let tag of post._tags"
            >
              <span class="tag cursor-pointer" (click)="toRelatedPosts(tag)">
                {{ tag._tag }}
              </span>
            </div>
          </div>
        </div>

        <!-- Dịch vụ -->
        <div>
          <p class="text-base font-medium">Dịch vụ đi kèm</p>
          <div
            class="flex flex-row flex-wrap"
            *ngIf="post.roomServices.length > 0; else noServicesBlock"
          >
            <div
              class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
              *ngFor="let tag of post.roomServices"
            >
              <span class="tag">
                {{ tag }}
              </span>
            </div>
          </div>
          <ng-template #noServicesBlock>
            <p>Không có dịch vụ đi kèm.</p>
          </ng-template>
        </div>

        <!-- Tiện ích -->
        <div>
          <p class="text-base font-medium">Tiện ích đi kèm</p>
          <div
            class="flex flex-row flex-wrap"
            *ngIf="post.roomUtilities.length > 0; else noUltilitiesBlock"
          >
            <div
              class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
              *ngFor="let tag of post.roomUtilities"
            >
              <span class="tag">
                {{ tag }}
              </span>
            </div>
          </div>
          <ng-template #noUltilitiesBlock>
            <p>Không có tiện ích đi kèm.</p>
          </ng-template>
        </div>

        <!-- Thông tin liên hệ -->
        <div>
          <p class="text-base font-medium">Thông tin liên hệ</p>
          <p>
            Chủ trọ: <span>{{ post.authorFName }} {{ post.authorLName }}</span>
          </p>
          <p>
            Số điện thoại: <span>{{ post.phoneNumber }}</span>
          </p>
        </div>
      </div>

      <!-- Image slider -->
      <app-slider [sliderItems]="post._images"></app-slider>

      <!-- Main content -->
      <div class="mt-4">
        <p class="text-base font-medium">Mô tả chi tiết</p>
        <p>
          {{ post._content }}
        </p>
      </div>

      <!-- Map -->
      <!-- <div class="relative">
        <p class="text-base font-medium">Bản đồ</p>
        <google-map
          class="absolute left-1/2 -translate-x-1/2 max-w-full"
          height="450"
          [center]="center"
          [zoom]="6"
        >
          <map-marker
            [position]="{ lat: this.center.lat, lng: this.center.lng }"
          ></map-marker>
        </google-map>
      </div> -->
    </div>
  </div>

  <!-- Side Content -->
  <div
    class="xs:flex xs:flex-col xs:col-span-12 lg:grid lg:col-span-3 rounded-lg px-5 mt-8 mb-12 bg-light-blue-color"
  >
    <div class="flex flex-col gap-4">
      <!-- Host's Card -->
      <div class="w-72 h-36 self-center">
        <app-host-card [host]="host"></app-host-card>
      </div>

      <p class="font-medium text-lg text-center">Tìm kiếm liên quan</p>
      <!-- Related rooms -->
      <div
        class="flex lg:flex-col lg:gap-4 xs:flex-row xs:flex-wrap xs:gap-2 xs:justify-evenly"
      >
        <!-- Room n -->
        <div
          *ngIf="relatedPosts.length === 0; else similarPostsBlock"
          class="text-center"
        >
          <p>Không có bài viết liên quan</p>
        </div>
        <ng-template #similarPostsBlock>
          <div *ngFor="let post of relatedPosts">
            <app-post-card [post]="post" class="max-h-60 w-30"></app-post-card>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
