<!-- Container -->
<div
  style="min-height: 425px"
  class="flex flex-col flex-nowrap bg-white-background p-6 rounded-lg"
>
  <!-- Title -->
  <div class="flex flex-row gap-4 align-middle text-justify">
    <h2 class="text-base font-semibold leading-7 text-gray-900 mb-0">
      Thông báo
    </h2>
    <!-- <p>Filter theo thời gian</p> -->
  </div>
  <!-- Main content-->
  <div class="flex flex-col relative">
    <div *ngIf="isLoading; else notiBlock" class="spinner__loading text-center">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
    <!-- Lists of products -->
    <!-- Item -->
    <ng-template #notiBlock>
      <div class="grid grid-rows bg-white-background">
        <div *ngIf="notifications.length > 0; else noNotiBlock">
          <div
            *ngFor="let notification of notifications"
            class="grid gap-2 grid-cols-12 mb-4 w-full h-max-full bg-gray-50 rounded-md"
          >
            <!-- Image -->
            <!-- <div class="grid col-span-2"></div> -->
            <!-- Info -->

            <div class="grid col-span-9 w-full p-4">
              <!-- Title -->
              <div class="row flex flex-row items-center mb-0">
                <a
                  class="text-sm font-medium mb-0 hover:cursor-pointer hover:text-primary-600 line-clamp-1"
                >
                  {{ notification._title }}
                </a>
              </div>

              <!-- Message -->
              <div
                class="row flex flex-row gap-4 items-center justify-between hover:cursor-pointer text-sm text-sub-text-color"
              >
                <p>
                  {{ notification._message }}
                </p>
              </div>
            </div>
            <!-- Detail button -->
            <div class="grid col-span-3 p-8 h-10">
              <button
                (click)="seeNotificationDetail(notification._id)"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button"
              >
                Chi tiết
              </button>
            </div>
          </div>
          <!-- Pagination -->
          <!-- <app-pagination
            [totalPages]="totalPages"
            (toPrevPage)="changeCurrentPage($event)"
            (toNextPage)="changeCurrentPage($event)"
          ></app-pagination> -->
        </div>
        <ng-template #noNotiBlock>
          <p class="text-center">Không có bài viết nào!</p>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>

<!-- <notifier-container></notifier-container> -->
