<!-- User bình thường -->
<div
  *ngIf="!isHost && this.myProfile?._temptHostBlocked === null; else host"
  class="flex justify-center align-middle"
>
  <div
    class="w-sm xs:p-2 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <p class="mb-3 font-medium text-gray-700 dark:text-gray-400 bold">
      Bạn cần phải xác thực tài khoản để được đăng bài!
    </p>
    <div class="flex justify-center">
      <a
        (click)="onVerifyAccount()"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer"
      >
        Đồng ý
      </a>
    </div>
  </div>
</div>
<!-- Host/Host bị khóa tạm thời -->
<ng-template #host>
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <!-- Host được phép đăng bài -->
  <div
    *ngIf="
      this.isHost && !this.myProfile?._temptHostBlocked;
      else temptBlockedHost
    "
  >
    <!-- Host đã đăng ký địa chỉ -->
    <div
      *ngIf="this.addressOptions.length > 0; else noRegisteredAddresses"
      class="bg-white-background rounded-lg xs:p-2 md:p-6"
    >
      <div class="flex flex-row flex-wrap justify-between">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Tạo bài viết mới
        </h2>
        <div>
          <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
            >Cơ bản</span
          >
          <span
            >Đã sử dụng: {{ this.myProfile?._usePosts }}/<span
              class="text-black-color font-semibold mr-2"
              >{{ this.myProfile?._totalPosts }} lượt</span
            ></span
          >
          <span
            (click)="goToPaymentPackacges()"
            class="text-blue-500 hover:text-blue-700 hover:font-semibold cursor-pointer"
            >Mua thêm lượt</span
          >
        </div>
      </div>
      <form [formGroup]="postEditForm" (ngSubmit)="onSubmitPost()">
        <!-- Title -->
        <mat-form-field class="w-full">
          <mat-label>Tiêu đề</mat-label>
          <input
            id="title-input"
            aria-label="Tiêu đề"
            matInput
            formControlName="titleInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.titleInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>
        <!-- Description -->
        <mat-form-field class="w-full">
          <mat-label>Mô tả</mat-label>
          <input
            aria-label="Mô tả"
            matInput
            formControlName="descInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.descInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>
        <!-- Content  -->
        <!-- <mat-form-field class="w-full h-96">
          <mat-label>Nội dung chính</mat-label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            matInput
            aria-label="Nội dung chính"
            placeholder="Viết mô tả chi tiết về phòng trọ ở đây..."
            formControlName="contentInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.contentInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field> -->
        <!-- Content  -->
        <mat-label>Nội dung chính</mat-label>
        <ejs-richtexteditor
          #fromRTE
          formControlName="contentInputControl"
          [toolbarSettings]="customToolbar"
          #postContent
        >
          <ng-template #contentValue>
            <p></p>
          </ng-template>
        </ejs-richtexteditor>
        <mat-error *ngIf="!this.postHtmlContent">
          Thông tin <strong>bắt buộc</strong>
        </mat-error>

        <!-- Address -->
        <mat-form-field class="w-full">
          <mat-label>Địa chỉ</mat-label>
          <input
            placeholder="Vui lòng chọn một địa chỉ"
            aria-label="Địa chỉ"
            matInput
            formControlName="addressInputControl"
            [matAutocomplete]="address"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.contentInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
          <mat-autocomplete #address="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredAddressOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Area -->
        <mat-form-field class="w-full">
          <mat-label>Diện tích (m<sup>2</sup>)</mat-label>
          <input
            aria-label="Diện tích"
            matInput
            formControlName="areaInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.areaInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Renting price -->
        <mat-form-field class="w-full">
          <mat-label>Gía thuê theo tháng (VNĐ)</mat-label>
          <input
            aria-label="Gía thuê theo tháng"
            matInput
            formControlName="renting_priceInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.renting_priceInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Electric price -->
        <mat-form-field class="w-full">
          <mat-label>Gía điện theo kw (VNĐ)</mat-label>
          <input
            aria-label="Gía điện theo kw"
            matInput
            formControlName="electricInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.electricInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Water price -->
        <mat-form-field class="w-full">
          <mat-label>Giá nước (VNĐ)</mat-label>
          <input
            placeholder="Vui lòng chọn một"
            aria-label="Số nhà và tên đường"
            matInput
            formControlName="water_priceInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.water_priceInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Services -->
        <mat-form-field class="w-full">
          <mat-label>Dịch vụ</mat-label>
          <input
            placeholder="Vui lòng chọn một"
            aria-label="Dịch vụ"
            matInput
            formControlName="servicesInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.servicesInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Utilities -->
        <mat-form-field class="w-full">
          <mat-label>Tiện ích đi kèm</mat-label>
          <input
            placeholder="Vui lòng chọn một"
            aria-label="Tiện ích đi kèm"
            matInput
            formControlName="utilitiesInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.utilitiesInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Tags -->
        <div class="my-6">
          <label
            for="base-input"
            class="flex flex-row mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Gắn thẻ bài viết

            <span
              (click)="createTag()"
              class="relative left-1 bottom-1 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover:cursor-pointer"
              ><mat-icon
                matRipple
                [matRippleUnbounded]="true"
                (click)="createTag()"
                >add</mat-icon
              ></span
            >
          </label>
          <mat-error *ngIf="this.selectedTags.length === 0">
            Vui lòng gắn <strong>ít nhất 1 thẻ</strong>
          </mat-error>
          <!-- Your chosen tags -->
          <div class="flex flex-row flex-wrap">
            <div
              class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover:cursor-pointer"
              *ngFor="let tag of selectedTags"
            >
              <span class="tag" (click)="updateChosentags(tag)">
                {{ tag._tag }}
              </span>
              <span
                (click)="updateChosentags(tag)"
                *ngIf="selectedTags.includes(tag)"
              >
                <mat-icon>clear</mat-icon></span
              >
            </div>
          </div>
        </div>

        <!-- Images -->
        <div class="mb-6">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="multiple_files"
            >Giấy phép kinh doanh (tối đa 5 ảnh)</label
          >
          <mat-error *ngIf="this.previews.length === 0">
            Vui lòng chọn <strong>ít nhất 1 ảnh</strong>
          </mat-error>
          <div class="bg-white-background rounded-lg">
            <div class="flex flex-row flex-wrap mt-4 w-100">
              <!-- Image -->
              <div
                (click)="deleteImage(preview, index)"
                *ngFor="let preview of previews; index as index"
                class="xs:basis-[48%] sm:basis-[29%] md:basis-[19%] h-100 border-solid border-2 border-indigo-300 rounded-lg p-3 mr-1 mb-1 relative hover:cursor-pointer h-36 w-full"
              >
                <img
                  *ngIf="preview !== ''"
                  [src]="preview"
                  class="hover:cursor-pointer object-fill max-h-28 w-full rounded-lg"
                />
                <div
                  class="flex flex-col items-center justify-center pt-5 pb-5 w-full h-full"
                  *ngIf="preview === ''"
                  (click)="updateFiles.click()"
                >
                  <svg
                    class="w-8 h-12 text-primary-400 dark:text-primary-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                </div>

                <input
                  (change)="updateFile($event, index)"
                  class="hidden w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                  id="image_file"
                  type="file"
                  #updateFiles
                  formControlName="updateFilesInputControl"
                />
              </div>
              <!-- Add image -->
              <div
                *ngIf="previews.length < 5"
                (click)="addImage.click()"
                class="xs:basis-[48%] sm:basis-[29%] md:basis-[19%] h-100 border-solid border-2 border-indigo-300 rounded-lg p-3 mr-1 mb-1 relative hover:cursor-pointer h-36 w-full"
              >
                <input
                  (change)="addNewImage($event)"
                  class="hidden w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                  id="addImage"
                  type="file"
                  formControlName="addFilesInputControl"
                  #addImage
                />

                <div
                  class="flex flex-col items-center justify-center pt-5 pb-5 w-full h-full"
                >
                  <svg
                    class="w-8 h-12 text-primary-400 dark:text-primary-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Save btn -->
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button
            type="submit"
            [disabled]="postEditForm.invalid"
            class="mr-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Tạo bài viết
          </button>
        </div>
      </form>
    </div>
    <!-- Host chưa đăng ký địa chỉ -->
    <ng-template #noRegisteredAddresses>
      <div class="flex justify-center align-middle">
        <div
          class="w-sm xs:p-2 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <p
            class="mb-3 font-medium text-gray-700 dark:text-gray-400 bold text-center"
          >
            Bạn cần phải đăng ký địa chỉ trọ trước khi đăng bài!
          </p>
          <div class="flex justify-center">
            <a
              (click)="goToRegisterNewAddress()"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer"
            >
              Đồng ý
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Host bị khóa tạm do đang cập nhật CCCD/chờ duyệt CCCD -->
  <ng-template #temptBlockedHost>
    <div
      class="w-sm xs:p-2 md:p-6 text-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <p class="mb-3 font-medium text-gray-700 dark:text-gray-400 bold">
        CCCD của bạn đang chờ duyệt! Chức năng đăng bài và đăng ký địa chỉ sẽ bị
        khóa tạm thời cho tới khi tài khoản được xác thực lại!
      </p>
    </div>
  </ng-template>
</ng-template>
<notifier-container></notifier-container>
