<div [ngClass]="isLoading ? 'opacity-70' : ''">
  <h2 mat-dialog-title>{{ this.title }}</h2>
  '
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <mat-dialog-content>
    <!-- New data edit modal -->
    <div *ngIf="data._status !== 2; else postDetail">
      <form [formGroup]="postEditForm" (ngSubmit)="onSubmitPost()">
        <!-- Title -->
        <mat-form-field class="w-full">
          <mat-label>ID bài viết</mat-label>
          <input
            id="title-input"
            aria-label="ID bài viết"
            matInput
            formControlName="idInputControl"
            class="cursor-not-allowed"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.idInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>
        <!-- Reported Reasons Tags -->
        <div class="mb-6" *ngIf="data._status === 4">
          <label
            for="base-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Lý do bị báo cáo</label
          >
          <div *ngIf="data._content">
            <div class="flex flex-row flex-wrap">
              <div
                class="flex flex-row h-6 bg-red-200 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-red-300 dark:text-red-900"
                *ngFor="let tag of data._content"
              >
                <span class="tag">
                  {{ tag }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Title -->
        <mat-form-field class="w-full">
          <mat-label>Tiêu đề</mat-label>
          <input
            id="title-input"
            aria-label="Tiêu đề"
            matInput
            formControlName="titleInputControl"
            [ngClass]="
              data._status === 4 ? 'cursor-not-allowed' : 'cursor-default'
            "
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.titleInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>
        <!-- Description -->
        <mat-form-field class="w-full">
          <mat-label>Mô tả</mat-label>
          <input
            aria-label="Mô tả"
            matInput
            formControlName="descInputControl"
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.descInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Content  -->
        <mat-label>Nội dung chính</mat-label>
        <ejs-richtexteditor
          #fromRTE
          formControlName="contentInputControl"
          [toolbarSettings]="customToolbar"
          #postContent
        >
        </ejs-richtexteditor>
        <mat-error *ngIf="!this.postHtmlContent">
          Thông tin <strong>bắt buộc</strong>
        </mat-error>

        <!-- Address -->
        <mat-form-field class="w-full">
          <mat-label>Địa chỉ</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            aria-label="Địa chỉ"
            matInput
            formControlName="addressInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.addressInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
          <mat-autocomplete #address="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredAddressOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Area -->
        <mat-form-field class="w-full">
          <mat-label>Diện tích (m<sup>2</sup>)</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            aria-label="Diện tích"
            matInput
            formControlName="areaInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.areaInputControl.hasError('required')
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Renting price -->
        <mat-form-field class="w-full">
          <mat-label>Gía thuê theo tháng (VNĐ)</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            aria-label="Gía thuê theo tháng"
            matInput
            formControlName="renting_priceInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.renting_priceInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Electric price -->
        <mat-form-field class="w-full">
          <mat-label>Gía điện theo kw (VNĐ)</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            aria-label="Gía điện theo kw"
            matInput
            formControlName="electricInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.electricInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Water price -->
        <mat-form-field class="w-full">
          <mat-label>Giá nước (VNĐ)</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            placeholder="Vui lòng chọn một"
            aria-label="Số nhà và tên đường"
            matInput
            formControlName="water_priceInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.water_priceInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Services -->
        <mat-form-field class="w-full">
          <mat-label>Dịch vụ</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            placeholder="Vui lòng chọn một"
            aria-label="Dịch vụ"
            matInput
            formControlName="servicesInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.servicesInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Utilities -->
        <mat-form-field class="w-full">
          <mat-label>Tiện ích đi kèm</mat-label>
          <input
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
            placeholder="Vui lòng chọn một"
            aria-label="Tiện ích đi kèm"
            matInput
            formControlName="utilitiesInputControl"
          />
          <mat-error
            *ngIf="
              this.postEditForm.controls.utilitiesInputControl.hasError(
                'required'
              )
            "
          >
            Thông tin <strong>bắt buộc</strong>
          </mat-error>
        </mat-form-field>

        <!-- Tags -->
        <mat-form-field class="w-full">
          <mat-label>Thẻ bài viết</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <mat-chip-row
              *ngFor="let tag of this.chosenTags"
              (removed)="remove(tag)"
            >
              {{ tag._tag }}
              <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            #tagInput
            [formControl]="this.postEditForm.controls.tagInputContro"
            [matChipInputFor]="chipGrid"
            aria-label="Tag"
            matInput
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              (click)="selected(tag)"
              *ngFor="let tag of filteredTags | async"
              [value]="tag"
            >
              {{ tag._tag }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="this.chosenTags.length === 0"
            >Vui lòng gắn <strong>ít nhất một tag</strong> cho bài
            viết</mat-error
          >
        </mat-form-field>
        <!-- <div *ngIf="data._status !== 4; else tagsNoUpdate" class="my-6">
          <label
            for="base-input"
            class="flex flex-row mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Gắn thẻ bài viết

            <span
              (click)="createTag()"
              class="relative left-1 bottom-1 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover"
              ><mat-icon
                matRipple
                [matRippleUnbounded]="true"
                (click)="createTag()"
                >add</mat-icon
              ></span
            >
          </label>
          <mat-error *ngIf="this.selectedTags.length === 0">
            Vui lòng gắn <strong>ít nhất 1 thẻ</strong>
          </mat-error>
      
          <div class="flex flex-row flex-wrap">
            <div
              class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover"
              *ngFor="let tag of selectedTags"
            >
              <span class="tag" (click)="updateChosentags(tag)">
                {{ tag._tag }}
              </span>
              <span
                (click)="updateChosentags(tag)"
                *ngIf="selectedTags.includes(tag)"
              >
                <mat-icon>clear</mat-icon></span
              >
            </div>
          </div>
        </div> -->

        <ng-template #tagsNoUpdate>
          <div
            class="my-6"
            [ngClass]="data._status === 4 ? 'cursor-not-allowed' : ''"
          >
            <label
              for="base-input"
              class="flex flex-row mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Thẻ bài viết
            </label>
            <!-- Your chosen tags -->
            <div class="flex flex-row flex-wrap">
              <div
                class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover"
                *ngFor="let tag of chosenTags"
              >
                <span class="tag">
                  {{ tag._tag }}
                </span>
                <span *ngIf="chosenTags.includes(tag)">
                  <mat-icon>clear</mat-icon></span
                >
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Images -->
        <div *ngIf="data._status !== 4; else imageNoUpdates" class="mb-6">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="multiple_files"
            >Ảnh phòng trọ (tối đa 5 ảnh)</label
          >
          <mat-error *ngIf="this.previews.length === 0">
            Vui lòng chọn <strong>ít nhất 1 ảnh</strong>
          </mat-error>
          <div class="bg-white-background rounded-lg">
            <div class="flex flex-row flex-wrap mt-4 w-100">
              <!-- Image -->
              <div
                (click)="deleteImage(preview, index)"
                *ngFor="let preview of previews; index as index"
                class="xs:basis-[48%] sm:basis-[29%] md:basis-[19%] h-100 border-solid border-2 border-indigo-300 rounded-lg p-3 mr-1 mb-1 relative hover h-36 w-full"
              >
                <img
                  *ngIf="preview !== ''"
                  [src]="preview"
                  class="hover object-fill max-h-28 w-full rounded-lg"
                />
                <div
                  class="flex flex-col items-center justify-center pt-5 pb-5 w-full h-full"
                  *ngIf="preview === ''"
                  (click)="updateFiles.click()"
                >
                  <svg
                    class="w-8 h-12 text-primary-400 dark:text-primary-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                </div>

                <input
                  (change)="updateFile($event, index)"
                  class="hidden w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                  id="image_file"
                  type="file"
                  #updateFiles
                  formControlName="updateFilesInputControl"
                />
              </div>
              <!-- Add image -->
              <div
                *ngIf="previews.length < 5"
                (click)="addImage.click()"
                class="xs:basis-[48%] sm:basis-[29%] md:basis-[19%] h-100 border-solid border-2 border-indigo-300 rounded-lg p-3 mr-1 mb-1 relative hover h-36 w-full"
              >
                <input
                  (change)="addNewImage($event)"
                  class="hidden w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                  id="addImage"
                  type="file"
                  formControlName="addFilesInputControl"
                  #addImage
                />

                <div
                  class="flex flex-col items-center justify-center pt-5 pb-5 w-full h-full"
                >
                  <svg
                    class="w-8 h-12 text-primary-400 dark:text-primary-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #imageNoUpdates>
          <div class="mb-6">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="multiple_files"
              >Ảnh</label
            >
            <div class="bg-white-background rounded-lg">
              <div class="flex flex-row flex-wrap mt-4 w-100">
                <!-- Image -->
                <div
                  *ngFor="let preview of previews; index as index"
                  class="xs:basis-[48%] sm:basis-[29%] md:basis-[19%] h-100 border-solid border-2 border-indigo-300 rounded-lg p-3 mr-1 mb-1 relative hover:cursor-default h-36 w-full"
                >
                  <img
                    *ngIf="preview !== ''"
                    [src]="preview"
                    class="object-fill max-h-28 w-full rounded-lg"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </form>
    </div>
    <!-- Private posts are not allowed to edit -->
    <ng-template #postDetail>
      <div
        *ngIf="data"
        class="xs:flex xs:flex-col xs:col-span-12 lg:grid lg:col-span-9 bg-white-background py-4 px-8 mt-8 mb-8 rounded-lg"
      >
        <div class="flex flex-col">
          <!-- General Information -->
          <div class="mb-8">
            <!-- Title, time-->
            <div class="row flex justify-between mb-0 flex-wrap">
              <div class="flex flex-row justify-between flex-wrap">
                <p class="text-lg font-medium mb-0 mr-1">
                  {{ data._title }}
                </p>
                <p
                  class="relative top-1 text-sm font-normal italic mb-0"
                  style="margin-left: 6px"
                >
                  &#40;Ngày cập nhật gần nhất:
                  {{ data._postingDateLocal }} &#41;
                </p>
              </div>
            </div>
            <!-- Price, Area -->
            <div
              class="row flex flex-row flex-wrap gap-4 items-center justify-between text-sm text-sub-text-color"
            >
              <p>
                Giá:
                <span class="text-text-price-color font-medium"
                  >{{ data.roomPrice.toLocaleString() }}đ</span
                >
              </p>

              <p>
                Giá điện:
                <span class="text-text-price-color font-medium"
                  >{{ data.roomElectricPrice.toLocaleString() }}đ</span
                >
              </p>

              <p>
                Giá nước:
                <span class="text-text-price-color font-medium"
                  >{{ data.roomWaterPrice.toLocaleString() }}đ</span
                >
              </p>
              <p>
                Diện tích:
                <span class="font-medium"
                  >{{ data.roomArea }}m<sup>2</sup></span
                >
              </p>
            </div>

            <!-- Address -->
            <div
              class="row flex flex-row gap-4 items-center justify-between text-sm text-sub-text-color"
            >
              <p>
                Địa chỉ phòng trọ:
                <span class="font-medium">{{ data.roomAddress }}</span>
              </p>
            </div>

            <!-- Tags -->
            <div *ngIf="data._tags">
              <p class="text-base font-medium">Thẻ bài viết</p>
              <div class="flex flex-row flex-wrap">
                <div
                  class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
                  *ngFor="let tag of data._tags"
                >
                  <span class="tag">
                    {{ tag._tag }}
                  </span>
                </div>
              </div>
            </div>

            <!-- Dịch vụ -->
            <div>
              <p class="text-base font-medium">Dịch vụ đi kèm</p>
              <div
                class="flex flex-row flex-wrap"
                *ngIf="data.roomServices.length > 0; else noServicesBlock"
              >
                <div
                  class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
                  *ngFor="let tag of data.roomServices"
                >
                  <span class="tag">
                    {{ tag }}
                  </span>
                </div>
              </div>
              <ng-template #noServicesBlock>
                <p>Không có dịch vụ đi kèm.</p>
              </ng-template>
            </div>

            <!-- Tiện ích -->
            <div>
              <p class="text-base font-medium">Tiện ích đi kèm</p>
              <div
                class="flex flex-row flex-wrap"
                *ngIf="data.roomUtilities.length > 0; else noUltilitiesBlock"
              >
                <div
                  class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
                  *ngFor="let tag of data.roomUtilities"
                >
                  <span class="tag">
                    {{ tag }}
                  </span>
                </div>
              </div>
              <ng-template #noUltilitiesBlock>
                <p>Không có tiện ích đi kèm.</p>
              </ng-template>
            </div>

            <!-- Thông tin liên hệ -->
            <div>
              <p class="text-base font-medium">Thông tin liên hệ</p>
              <p>
                Chủ trọ:
                <span>{{ data.authorFName }} {{ data.authorLName }}</span>
              </p>
              <p>
                Số điện thoại: <span>{{ data.phoneNumber }}</span>
              </p>
            </div>
          </div>

          <!-- Image slider -->
          <app-slider [sliderItems]="data._images"></app-slider>

          <!-- Main content -->
          <div
            #contentToDisplay
            class="mt-4"
            [ngClass]="seeMore ? 'line-clamp-none' : 'line-clamp-4'"
          ></div>
          <span
            *ngIf="!seeMore"
            class="font-medium text-blue-500 cursor-pointer"
            (click)="seeMoreContentClick()"
          >
            Xem thêm
          </span>
          <span
            *ngIf="seeMore"
            class="font-medium text-blue-500 cursor-pointer"
            (click)="seeMoreContentClick()"
          >
            Ẩn bớt
          </span>
        </div>
      </div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <!-- Bài viết đang đăng -->
    <button
      *ngIf="data._status === 1 && data._status !== 4"
      (click)="toHidePostDialog()"
      mat-button
    >
      Gỡ bài viết
    </button>

    <!-- Bài viết không được duyệt/ Đang đăng thì sửa-->
    <button
      *ngIf="data._status === 3 && data._status !== 4"
      (click)="toOpenPostDialog()"
      mat-button
    >
      Yêu cầu duyệt lại
    </button>

    <!--Public lại bài viết đang private-->
    <button
      *ngIf="data._status === 2"
      (click)="reopenPost()"
      mat-button
      class="bg-blue-700 hover:bg-blue-800"
      style="color: white; background-color: #1a56db"
    >
      Công khai
    </button>

    <!-- Lưu -->
    <button
      *ngIf="data._status !== 4 && data._status !== 2"
      (click)="onSubmitPost()"
      class="bg-blue-700 hover:bg-blue-800"
      style="color: white; background-color: #1a56db"
      mat-button
      type="submit"
      [disabled]="postEditForm.invalid"
    >
      Lưu
    </button>
  </mat-dialog-actions>
</div>
