<!-- Comment -->
<div
  *ngIf="this.currentUser"
  class="flex flex-col relative gap-1 ml-10 mb-6 p-2 shadow-lg rounded-md"
>
  <!-- Avatar - name - time - comment-->
  <div class="flex gap-2 cursor-pointer" [matMenuTriggerFor]="menu">
    <img
      src="{{ this.comment._avatar }}"
      alt="User avatar"
      class="w-8 h-8 rounded-full"
    />
    <div class="flex flex-col text-left">
      <span class="font-medium text-black-color">{{ this.comment._name }}</span>
      <span
        class="text-xs font-normal text-gray-500 dark:text-gray-400 line-clamp-1"
        >{{ moment(this.comment.createdAt).calendar() }}</span
      >
      <!--Nội dung Comment -->
      <div class="mt-2">
        <span> {{ this.comment._content }} </span>
      </div>
    </div>
  </div>
  <mat-menu #menu="matMenu" style="width: fit-content">
    <button
      *ngIf="this.currentUser?._id !== this.comment._uId"
      mat-menu-item
      (click)="addToContactAndGoToChatBot()"
    >
      <mat-icon>send</mat-icon>
      <span class="text-primary-text-color mb-0 text-sm">Liên hệ</span>
    </button>
    <button mat-menu-item (click)="seeProfile()">
      <mat-icon>account_box</mat-icon>
      <span class="text-primary-text-color mb-0 text-sm"
        >Xem trang cá nhân</span
      >
    </button>
  </mat-menu>
  <!--Icon to open Child comments -->
  <div class="absolute ml-4 -bottom-6 cursor-pointer">
    <span class="mr-2 text-gray-500 hover:text-blue-600">Trả lời</span>
    <span
      (click)="openReplies(true)"
      *ngIf="this.comment.totalReplies > 0"
      class="text-gray-500 hover:text-blue-600"
      >{{ this.comment.totalReplies }} phản hồi
      <mat-icon
        [ngStyle]="{ color: 'gray' }"
        class="relative top-1.5 hover:text-blue-600"
        >reply</mat-icon
      ></span
    >
    <!-- Child comments -->
  </div>
</div>
<div class="pl-5" *ngIf="this.shouldOpenReplies">
  <app-post-comment [comment]="this.comment"></app-post-comment>
  <span
    *ngIf="this.currentReplyPage === this.totalReplyPage"
    (click)="openReplies(false)"
    class="hover:text-blue-600 cursor-pointer ml-16"
    >Ẩn đi</span
  >
  <span
    *ngIf="this.currentReplyPage < this.totalReplyPage"
    (click)="openReplies(true)"
    class="hover:text-blue-600 cursor-pointer ml-16"
    >Hiện thêm</span
  >
</div>
