<div class="container bg-white-background p-4 rounded-md">
  <div class="flex flex-row items-center text-center font-medium">
    <p>Tra cứu theo tag nổi bật</p>
  </div>
  <div class="flex flex-row flex-wrap gap-1">
    <div
      *ngFor="let tag of sourceTags"
      class="flex flex-row h-6 align-middle no-wrap bg-grey-background text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover:bg-indigo-100"
      [class.chosenTag]="selectedTags.has(tag)"
    >
      <span class="tag" (click)="addTag(tag)">{{ tag._tag }}</span>
      <span (click)="addTag(tag)" *ngIf="!selectedTags.has(tag)">
        <mat-icon>add</mat-icon></span
      >
      <span (click)="addTag(tag)" *ngIf="selectedTags.has(tag)">
        <mat-icon>clear</mat-icon></span
      >
    </div>
  </div>
</div>
