.chosenTag {
  border-radius: 10;
  background-color: #e5edff;
}

::ng-deep .mat-icon {
  display: flex !important;
  align-items: center !important;
  position: relative;
  bottom: 8%;
  left: 10%;
  font-size: 18px;
}

.tag {
  display: flex !important;
  align-items: center !important;
}
