<div class="container bg-white-background p-4 rounded-md">
  <div class="flex flex-row items-center text-center font-medium">
    <p>Tra cứu theo tag nổi bật</p>
  </div>
  <div class="flex flex-row flex-wrap gap-1">
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
    <p>
      <a href="#" class="hover:cursor-pointer hover:text-text-price-color"
        >#nấu ăn</a
      >
    </p>
  </div>
</div>
