<div class="grid grid-cols-12 gap-6">
  <!-- Lists of products -->
  <div class="grid col-span-9 mt-12 mb-12">
    <!-- Item list -->
    <div *ngFor="let post of postList">
      <app-post-item [item]="post"></app-post-item>
    </div>

    <!-- Pagination -->
    <app-pagination
      [totalPages]="totalPages"
      (toPrevPage)="changeCurrentPage($event)"
      (toNextPage)="changeCurrentPage($event)"
    ></app-pagination>
  </div>

  <!-- Tags -->
  <div class="col-span-3 mt-12">
    <app-tags></app-tags>
  </div>
</div>
