<!-- Background landing images slider -->
<div
  id="landing"
  class="relative bg-cover bg-no-repeat bg-center min-h-screen mx-0 my-0 p-0"
  style="
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
      url(../../../assets/images/background_3.jpg);
  "
>
  <div
    class="absolute flex flex-col top-1/2 right-1/2 -translate-y-full translate-x-1/2 text-white-text-color text-lg"
  >
    <p class="text-center">Make your life a wonderful journey!</p>
    <a
      routerLink="./"
      fragment="start"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full text-sm py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700"
    >
      Bắt đầu
    </a>
  </div>
</div>
<!-- Main content -->
<div id="start" class="grid grid-cols-12 gap-2 px-4 lg:px-20">
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <!-- Lists of products -->
  <div class="grid col-span-12 md:col-span-9 gap-3 mt-6 mb-12">
    <!-- Item list -->
    <div class="grid grid-flow-row auto-rows-max">
      <div class="grid grid-cols-12 gap-1">
        <div
          *ngFor="let post of postList"
          class="xs:col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3"
        >
          <app-post-card [post]="post" class="h-60 w-30"></app-post-card>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (toPrevPage)="changeCurrentPage($event, false, false)"
      (toNextPage)="changeCurrentPage($event, false, false)"
      (toFirstPage)="changeCurrentPage(0, $event, false)"
      (toLastPage)="changeCurrentPage(0, false, $event)"
    ></app-pagination>
  </div>
  <!-- Filter panel -->
  <div class="grid md:col-span-3 max-h-72 mt-6 mb-8 z-40 sticky top-24">
    <!-- Filter -->
    <div class="xs:hidden md:block bg-white-background rounded-lg">
      <!-- Title -->
      <p class="text-black-color font-medium text-center">
        <mat-icon class="relative top-1.5 mr-1"> filter_list</mat-icon>Bộ lọc
      </p>
      <!-- Filter by room's price -->
      <div class="flex flex-col text-sm py-1 px-3">
        <p class="text-black-color font-medium">Giá nhà:</p>
        <div class="flex flex-row">
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="filterCriteria.roomPrice.lowToHigh"
            (change)="
              checkPriceFilter($event.checked, 'roomPrice', 'lowToHigh')
            "
            >Cao dần</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="filterCriteria.roomPrice.highToLow"
            (change)="
              checkPriceFilter($event.checked, 'roomPrice', 'highToLow')
            "
            >Thấp dần</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Filter by electricity price -->
      <div class="flex flex-col text-sm py-3 px-2">
        <p class="text-black-color font-medium">Giá điện:</p>
        <div class="flex flex-row">
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="filterCriteria.electricityPrice.lowToHigh"
            (change)="
              checkPriceFilter($event.checked, 'electricityPrice', 'lowToHigh')
            "
            >Cao dần</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="filterCriteria.electricityPrice.highToLow"
            (change)="
              checkPriceFilter($event.checked, 'electricityPrice', 'highToLow')
            "
            >Thấp dần</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Filter by water price -->
      <div class="flex flex-col text-sm py-3 px-2">
        <p class="text-black-color font-medium">Giá nước:</p>
        <div class="flex flex-row">
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="filterCriteria.waterPrice.lowToHigh"
            (change)="
              checkPriceFilter($event.checked, 'waterPrice', 'lowToHigh')
            "
            >Cao dần</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="filterCriteria.waterPrice.highToLow"
            (change)="
              checkPriceFilter($event.checked, 'waterPrice', 'highToLow')
            "
            >Thấp dần</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row text-sm py-3 px-2 justify-around">
        <p
          class="text-orange-500 font-medium hover:cursor-pointer"
          (click)="resetFilter()"
        >
          Reset
        </p>
        <p
          class="text-primary-600 font-medium hover:cursor-pointer"
          (click)="applyFilter()"
        >
          Áp dụng
        </p>
      </div>
    </div>
  </div>
</div>
