<div class="grid grid-cols-12 gap-6">
  <div *ngIf="isLoading" class="spinner__loading">
    <!-- <mat-progress-spinner diameter="40" [value]="value" mode="determinate">
    </mat-progress-spinner> -->
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <!-- Lists of products -->
  <div class="grid col-span-12 mt-6 mb-12">
    <!-- Item list -->
    <div *ngFor="let post of postList">
      <app-post-item [item]="post"></app-post-item>
    </div>

    <!-- Pagination -->
    <app-pagination
      [totalPages]="totalPages"
      (toPrevPage)="changeCurrentPage($event)"
      (toNextPage)="changeCurrentPage($event)"
    ></app-pagination>
  </div>

  <!-- Tags -->
  <!-- <div class="col-span-3 mt-12">
    <app-tags></app-tags>
  </div> -->
</div>
<notifier-container></notifier-container>
