<div
  [ngClass]="
    isLoading
      ? 'opacity-70 bg-white-background rounded-lg p-6'
      : 'bg-white-background rounded-lg p-6'
  "
>
  <input
    (change)="selectFiles($event)"
    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    id="multiple_files"
    type="file"
    multiple
  />
  <div class="mt-4">
    <img *ngFor="let preview of previews" [src]="preview" class="preview" />
    <button
      class="mt-4"
      mat-flat-button
      color="primary"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      Lưu
    </button>
  </div>
</div>
<notifier-container></notifier-container>
