<!-- Container -->
<div
  style="min-height: 425px"
  class="flex flex-col flex-nowrap bg-white-background xs:p-2 md:p-6 rounded-lg h-full shadow-md"
>
  <!-- Title -->
  <div class="flex flex-row gap-4 align-middle text-justify">
    <h2 class="text-base font-semibold leading-7 text-gray-900 mb-0">
      Bài viết yêu thích
    </h2>
    <!-- <p>Filter theo thời gian</p> -->
  </div>
  <!-- Main content-->
  <div class="flex flex-col relative">
    <div
      *ngIf="isLoading; else postsBlock"
      class="spinner__loading text-center"
    >
      <mat-spinner diameter="30"></mat-spinner>
    </div>
    <!-- Lists of products -->
    <!-- Item -->
    <ng-template #postsBlock>
      <div class="grid grid-rows justify-center">
        <!-- sm screen above -->
        <div
          *ngIf="historyPosts.length > 0; else noPostsBlock"
          class="xs:hidden sm:block"
        >
          <div
            *ngFor="let post of historyPosts"
            class="grid gap-2 grid-cols-12 mb-4 w-full h-max-full bg-gray-50 p-4 rounded-lg"
          >
            <!-- Image -->
            <div class="relative grid xs:col-span-3 lg:col-span-2">
              <mat-icon
                class="absolute top-1 right-1 z-10"
                color="warn"
                (click)="toUnfavorPost(post._postId)"
                >favorite</mat-icon
              >
              <img
                class="hover:cursor-pointer object-fill h-32 w-full rounded-lg"
                src="{{ post._images[0] }}"
                alt="hình nhà trọ"
              />
            </div>
            <!-- Info -->
            <div class="grid col-span-9" (click)="toPostDetail(post._postId)">
              <!-- Title -->
              <div class="row flex flex-row items-center mb-0">
                <a
                  class="text-base font-medium mb-0 hover:cursor-pointer hover:text-primary-600 line-clamp-2"
                >
                  {{ post._title }}
                </a>
              </div>
              <!-- Price, Area, Assress -->
              <div
                class="row flex flex-row flex-wrap gap-2 items-center hover:cursor-pointer text-sm text-sub-text-color"
              >
                <p>
                  Giá:
                  <span class="text-text-price-color font-medium">
                    {{ post.roomPrice.toLocaleString() }}đ</span
                  >
                </p>

                <p>
                  Giá điện:
                  <span class="text-text-price-color font-medium"
                    >{{ post.roomElectricPrice.toLocaleString() }}đ</span
                  >
                </p>

                <p>
                  Giá nước:
                  <span class="text-text-price-color font-medium"
                    >{{ post.roomWaterPrice.toLocaleString() }}đ</span
                  >
                </p>
                <p>
                  Diện tích:
                  <span class="text-text-price-color font-medium"
                    >{{ post.roomArea.toLocaleString() }}m <sup>2</sup></span
                  >
                </p>
              </div>

              <!-- Address -->
              <div
                class="row flex flex-row gap-4 items-center justify-between hover:cursor-pointer text-sm text-sub-text-color"
              >
                <p>
                  Địa chỉ phòng trọ:
                  <span class="font-medium">{{ post.roomAddress }}</span>
                </p>
              </div>
            </div>
            <!-- Unfavor button -->
            <div class="xs:hidden lg:grid lg:col-span-1 lg:p-8 lg:h-10">
              <mat-icon
                matRipple
                [matRippleUnbounded]="true"
                (click)="toUnfavorPost(post._postId)"
                class="cursor-pointer float-right"
                >delete_outline</mat-icon
              >
            </div>
          </div>
          <!-- Pagination -->
          <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (toPrevPage)="changeCurrentPage($event, false, false)"
            (toNextPage)="changeCurrentPage($event, false, false)"
            (toFirstPage)="changeCurrentPage(0, $event, false)"
            (toLastPage)="changeCurrentPage(0, false, $event)"
          ></app-pagination>
        </div>
        <!-- xs screen -->
        <div *ngIf="historyPosts.length > 0" class="xs:block sm:hidden">
          <div *ngFor="let post of historyPosts" class="relative">
            <mat-icon
              class="absolute top-1.5 right-1.5 z-10"
              color="warn"
              (click)="toUnfavorPost(post._postId)"
              >favorite</mat-icon
            >
            <app-post-card [post]="post"></app-post-card>
          </div>
          <!-- Pagination -->
          <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (toPrevPage)="changeCurrentPage($event, false, false)"
            (toNextPage)="changeCurrentPage($event, false, false)"
            (toFirstPage)="changeCurrentPage(0, $event, false)"
            (toLastPage)="changeCurrentPage(0, false, $event)"
          ></app-pagination>
        </div>
        <ng-template #noPostsBlock>
          <p class="text-center">Không có bài viết nào!</p>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>

<notifier-container></notifier-container>
