<div
  *ngIf="this.paymentOptions"
  class="relative top-[10%] px-4 lg:px-20 min-h-screen text-center"
>
  <div class="mx-auto rounded-md py-6 px-8 text-center w-[92%] min-h-screen">
    <p class="text-black-color font-semibold text-2xl">Các gói đăng bài</p>
    <div class="grid grid-cols-12 xl:gap-2 md:gap-4 xs:gap-3">
      <div
        *ngFor="let option of this.paymentOptions"
        class="xl:col-span-3 md:col-span-6 xs:col-span-12"
      >
        <app-payment-option [option]="option"></app-payment-option>
      </div>
    </div>
  </div>
</div>
