<div class="grid-flow-row items-center w-full">
  <div class="max-w-md">
    <div class="bg-white shadow-xl rounded-lg py-3">
      <div class="photo-wrapper p-2">
        <img
          class="w-32 h-32 rounded-full mx-auto"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt="Avatar"
        />
      </div>
      <div class="p-2">
        <p class="text-center text-base text-gray-900 font-medium leading-8">
          {{ user?._fname }} {{ user?._lname }}
        </p>
        <!-- Only for guests to see -->
        <table class="text-xs my-3" *ngIf="!isHost">
          <tbody>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Địa chỉ</td>
              <td class="px-2 py-2">{{ user?._address }}</td>
            </tr>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Phone</td>
              <td class="px-2 py-2">{{ user?._phone }}</td>
            </tr>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Email</td>
              <td class="px-2 py-2">{{ user?._email }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Manage list -->
        <div class="flex flex-col gap-4">
          <!-- Account -->
          <div class="flex flex-col gap-2 text-center">
            <a
              class="hover:text-primary-600 hover:font-medium"
              (click)="showAccount()"
              >Tài khoản</a
            >
            <mat-divider></mat-divider>
          </div>

          <!-- Post new -->
          <div class="flex flex-col gap-2 text-center">
            <a
              class="hover:text-primary-600 hover:font-medium"
              [routerLink]="['/profile/post-new']"
              >Đăng bài</a
            >
            <mat-divider></mat-divider>
          </div>

          <!-- Posting history -->
          <div class="flex flex-col gap-2 text-center">
            <a
              class="hover:text-primary-600 hover:font-medium"
              [routerLink]="['/profile/posting-history']"
              >Lịch sử đăng bài</a
            >
            <mat-divider></mat-divider>
          </div>

          <!-- Logout -->
          <button
            (click)="logout()"
            type="button"
            class="hover:text-primary-600 hover:font-medium"
          >
            Đăng xuất
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
