<!-- Container -->
<div
  style="min-height: 425px"
  class="flex flex-col flex-nowrap bg-white-background xs:p-2 md:p-6 rounded-lg h-full shadow-md"
>
  <!-- Title -->
  <div
    class="flex flex-row flex-wrap justify-between gap-4 align-middle text-justify"
  >
    <h2
      class="text-base font-semibold leading-7 text-gray-900 mb-0"
      style="margin-bottom: 0"
    >
      Lịch sử bài viết
    </h2>
    <!-- Search and reload data -->
    <div class="flex justify-around -my-4">
      <!-- Reload data -->
      <div
        mat-raised-button
        class="text-sub-text-color my-8"
        matTooltip="Reload data"
        [matTooltipPosition]="'above'"
        matTooltipHideDelay="400"
        matRipple
        [matRippleCentered]="true"
        [matRippleUnbounded]="true"
      >
        <img
          class="w-7 h-7 cursor-pointer"
          src="../../../assets/images/refresh.png"
          alt="reload data"
          (click)="reloadData()"
        />
      </div>
      <!-- Search -->
      <div class="flex flex-col gap-1 my-4">
        <div class="relative p-2">
          <form
            #searchForm="ngForm"
            (keyup.enter)="search(searchForm.value); searchForm.reset()"
          >
            <img
              src="../../../assets/images/search.png"
              alt="search icon"
              class="absolute top-1/2 left-4 -translate-y-1/2 w-6 h-6"
            />
            <input
              type="text"
              required="true"
              ngModel
              name="keyword"
              id="simple-search"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Tìm kiếm..."
              required
            />
          </form>
        </div>
      </div>
    </div>
    <!-- <p>Filter theo thời gian</p> -->
  </div>
  <!-- Active tabs -->
  <div class="mb-4 relative bottom-4">
    <!-- Chờ duyệt/Đang đăng/Không được duyệt/ Đã gỡ -->
    <div
      class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
    >
      <ul class="flex flex-nowrap -mb-px">
        <!-- <li class="mr-2">
          <a
            (click)="toAllPostHistory()"
            [ngClass]="
              currentActiveStatus.status === 4
                ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500'
                : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
            "
            >Tất cả</a
          >
        </li> -->
        <li class="cursor-pointer">
          <a
            (click)="toStackPostsHistory()"
            [ngClass]="
              currentActiveStatus.status === 0
                ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500'
                : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
            "
            >Chờ duyệt</a
          >
        </li>
        <li class="cursor-pointer">
          <a
            (click)="toOnWallPostsHistory()"
            [ngClass]="
              currentActiveStatus.status === 1
                ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500'
                : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
            "
            >Đang đăng</a
          >
        </li>
        <li class="cursor-pointer">
          <a
            (click)="toUnSensoredPostsHistory()"
            [ngClass]="
              currentActiveStatus.status === 3
                ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500'
                : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
            "
            >Không được duyệt</a
          >
        </li>
        <li class="cursor-pointer">
          <a
            (click)="toHiddenPostsHistory()"
            [ngClass]="
              currentActiveStatus.status === 2
                ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500'
                : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
            "
            >Đã gỡ</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- Main content-->
  <div class="flex flex-col relative">
    <div
      *ngIf="isLoading; else postsBlock"
      class="spinner__loading text-center"
    >
      <mat-spinner diameter="30"></mat-spinner>
    </div>
    <!-- Lists of products -->
    <!-- Item -->
    <ng-template #postsBlock>
      <div class="grid grid-rows justify-center">
        <!-- sm screen above -->
        <div
          *ngIf="historyPosts.length > 0; else noPostsBlock"
          class="xs:hidden sm:block"
        >
          <div
            *ngFor="let post of historyPosts"
            class="grid gap-2 grid-cols-12 mb-4 w-full h-max-full"
          >
            <!-- Image -->
            <div
              (click)="toEditPostDialog(post)"
              class="grid xs:col-span-3 lg:col-span-2"
            >
              <img
                class="hover:cursor-pointer object-fill h-32 w-full rounded-lg"
                src="{{ post._images[0] }}"
                alt="hình nhà trọ"
              />
            </div>
            <!-- Info -->
            <div
              (click)="toEditPostDialog(post)"
              class="grid xs:col-span-9 lg:col-span-7"
            >
              <!-- Title -->
              <div class="row flex flex-row items-center mb-0">
                <a
                  class="text-base font-medium mb-0 hover:cursor-pointer hover:text-primary-600 line-clamp-2"
                >
                  {{ post._title }}
                </a>
              </div>
              <!-- Price, Area, Address -->
              <div
                class="row flex flex-row flex-wrap gap-2 items-center hover:cursor-pointer text-sm text-sub-text-color"
              >
                <p>
                  Giá:
                  <span class="text-text-price-color font-medium">
                    {{ post.roomPrice.toLocaleString() }}đ</span
                  >
                </p>

                <p>
                  Giá điện:
                  <span class="text-text-price-color font-medium"
                    >{{ post.roomElectricPrice.toLocaleString() }}đ</span
                  >
                </p>

                <p>
                  Giá nước:
                  <span class="text-text-price-color font-medium"
                    >{{ post.roomWaterPrice.toLocaleString() }}đ</span
                  >
                </p>
                <p>
                  Diện tích:
                  <span class="text-text-price-color font-medium"
                    >{{ post.roomArea.toLocaleString() }}m <sup>2</sup></span
                  >
                </p>
              </div>

              <!-- Address -->
              <div
                class="row flex flex-row gap-4 items-center justify-between hover:cursor-pointer text-sm text-sub-text-color"
              >
                <p>
                  Địa chỉ phòng trọ:
                  <span class="font-medium">{{ post.roomAddress }}</span>
                </p>
              </div>
            </div>

            <!-- Edit button -->
            <div
              *ngIf="post._status !== 3"
              class="xs:hidden lg:grid lg:col-span-3 lg:p-8 lg:h-10"
            >
              <button
                (click)="toEditPostDialog(post)"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button"
              >
                Chỉnh sửa
              </button>
            </div>

            <div
              *ngIf="post._status === 3"
              class="xs:hidden lg:grid lg:col-span-3 lg:p-8 lg:h-10"
            >
              <button
                (click)="activatePost(post._id)"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button"
              >
                Yêu cầu duyệt
              </button>
            </div>
          </div>
          <!-- Pagination -->
          <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (toPrevPage)="changeCurrentPage($event, false, false)"
            (toNextPage)="changeCurrentPage($event, false, false)"
            (toFirstPage)="changeCurrentPage(0, $event, false)"
            (toLastPage)="changeCurrentPage(0, false, $event)"
          ></app-pagination>
        </div>
        <!-- xs screen -->
        <div *ngIf="historyPosts.length > 0" class="xs:block sm:hidden">
          <div *ngFor="let post of historyPosts">
            <div
              (click)="toEditPostDialog(post)"
              class="max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-2 cursor-pointer hover:-translate-y-0.5 hover:shadow-primary-200"
            >
              <a (click)="toEditPostDialog(post)">
                <img
                  class="rounded-t-lg w-full h-60"
                  src="{{ post._images[0] }}"
                  alt="room's images"
                />
              </a>
              <div class="p-2">
                <a (click)="toEditPostDialog(post)">
                  <p
                    class="text-md font-medium tracking-tight text-black-color dark:text-white hover:text-primary-600 line-clamp-1"
                  >
                    {{ post._title }}
                  </p>
                </a>
                <div
                  class="row flex flex-row gap-2 items-center justify-between hover:cursor-pointer text-sm text-sub-text-color relative bottom-2"
                >
                  <span class="text-text-price-color font-normal"
                    >{{ post.roomPrice.toLocaleString() }}tr</span
                  >

                  <span class="font-normal"
                    >{{ post.roomArea }}m<sup>2</sup></span
                  >

                  <span class="font-normal line-clamp-1">{{
                    post.roomAddress
                  }}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (toPrevPage)="changeCurrentPage($event, false, false)"
            (toNextPage)="changeCurrentPage($event, false, false)"
            (toFirstPage)="changeCurrentPage(0, $event, false)"
            (toLastPage)="changeCurrentPage(0, false, $event)"
          ></app-pagination>
        </div>
        <ng-template #noPostsBlock>
          <p class="text-center">Không có bài viết nào!</p>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>

<notifier-container></notifier-container>
