<div class="relative">
  <div *ngIf="isLoading" class="spinner__loading text-center">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <h2 mat-dialog-title>Duyệt bài viết</h2>
  <mat-dialog-content>
    <!-- Edit modal -->
    <div class="p-4 md:p-5">
      <form #createPostForm="ngForm" class="space-y-4">
        <!-- Post ID -->
        <!-- <div class="mb-6">
            <label
              for="base-input"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >ID bài viết</label
            >
            <input
              type="text"
              id="postId-input"
              name="postId"
              [ngModel]="this.data._id"
              ngModel
              required
              disabled
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div> -->
        <!-- Title -->
        <div class="mb-6">
          <label
            for="base-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Tiêu đề</label
          >
          <input
            type="text"
            id="title-input"
            name="title"
            ngModel
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <!-- Content  -->
        <div class="mb-6">
          <label
            for="base-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nội dung chính</label
          >
          <textarea
            rows="8"
            type="text"
            id="content-input"
            name="content"
            ngModel
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Viết mô tả chi tiết về phòng trọ ở đây..."
          ></textarea>
        </div>

        <!-- Images -->
        <div class="mb-6">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="multiple_files"
            >Ảnh</label
          >
          <input
            (change)="selectFiles($event)"
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="multiple_files"
            type="file"
            multiple
          />
          <div class="mt-4">
            <img
              *ngFor="let preview of previews"
              [src]="preview"
              class="preview"
            />
          </div>
        </div>
      </form>
      <notifier-container></notifier-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!--Cancle -->
    <button mat-button mat-dialog-close>Hủy</button>
    <!-- Lưu -->
    <button
      [disabled]="!selectedFiles"
      (click)="saveSocialPost(createPostForm)"
      mat-button
      class="bg-red-700 hover:bg-red-800"
      style="color: white; background-color: rgba(255, 0, 0, 0.8)"
    >
      Lưu
    </button>
  </mat-dialog-actions>
</div>
