<div
  class="grid grid-cols-12 gap-4 px-4 lg:px-20 pt-8 pb-32 bg-grey-background"
>
  <div class="col-span-3 text-center">
    <app-host-sidebar
      [hostProfile]="{
        _avatar:'https://static.tapchitaichinh.vn/w640/images/upload/hoangthuviet/12172018/084806baoxaydung_image001.jpg',
        _fname: 'Khiem',
        _lname: 'Le Duy',
        _phone: '1234567890',
        _email: 'test@example.com',
    }"
    ></app-host-sidebar>
  </div>
  <div class="col-span-9">
    <app-host-posting-history></app-host-posting-history>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
