<!-- Comment -->
<div
  *ngIf="this.currentUser"
  class="flex flex-col relative gap-1 ml-10 mb-6 p-2 shadow-lg rounded-md"
>
  <!-- Avatar - name - time - comment-->
  <div class="flex gap-2">
    <!-- Avatar -->
    <img
      [matMenuTriggerFor]="seeProfileMenu"
      src="{{ this.comment._avatar }}"
      alt="User avatar"
      class="w-8 h-8 rounded-full cursor-pointer"
    />

    <!-- Name - time - content - image - more -->
    <div class="flex w-full justify-between">
      <!-- Name - time - content - image -->
      <div class="flex flex-col text-left">
        <span
          class="font-medium text-black-color cursor-pointer"
          [matMenuTriggerFor]="seeProfileMenu"
          >{{ this.comment._name }}</span
        >
        <span
          class="text-xs font-normal text-gray-500 dark:text-gray-400 line-clamp-1"
          >{{ moment(this.comment.createdAt).calendar() }}</span
        >
        <!--Nội dung Comment -->
        <div class="mt-2 flex flex-col">
          <span
            *ngIf="this.comment._nameParent"
            class="text-gray-500 text-xs text-left max-w-fit"
            >Trả lời cho <mark>&#64;{{ this.comment._nameParent }}</mark>
          </span>
          <span> {{ this.comment._content }} </span>
        </div>
      </div>
      <!-- Edit - Public - Private for post's creator/comment's creator-->
      <div>
        <mat-icon
          *ngIf="this.comment._uId === this.currentUser._id"
          matRipple
          [matRippleCentered]="true"
          [matRippleUnbounded]="true"
          class="cursor-pointer"
          [ngStyle]="{ color: 'black' }"
          [matMenuTriggerFor]="hideCmtMenu"
          aria-label="menu to choose"
          >more_vert</mat-icon
        >
        <mat-menu #hideCmtMenu="matMenu" style="width: fit-content">
          <button mat-menu-item (click)="editComment()">
            <mat-icon>edit</mat-icon>
            <span
              class="text-primary-text-color mb-0 text-sm"
              *ngIf="this.comment._uId === this.currentUser._id"
              >Chỉnh sửa bình luận</span
            >
          </button>
          <button mat-menu-item (click)="deleteComment()">
            <mat-icon>delete</mat-icon>
            <!-- Chỉ có chủ bài đăng hoặc bài viết ms đc xóa bình luận -->
            <span
              class="text-primary-text-color mb-0 text-sm"
              *ngIf="this.comment._uId === this.currentUser._id"
              >Xóa bình luận</span
            >
          </button>
        </mat-menu>
      </div>
    </div>

    <!-- Contact - See profile -->
    <mat-menu #seeProfileMenu="matMenu" style="width: fit-content">
      <button
        *ngIf="this.currentUser?._id !== this.comment._uId"
        mat-menu-item
        (click)="addToContactAndGoToChatBot()"
      >
        <mat-icon>send</mat-icon>
        <span class="text-primary-text-color mb-0 text-sm">Liên hệ</span>
      </button>
      <button mat-menu-item (click)="seeProfile()">
        <mat-icon>account_box</mat-icon>
        <span class="text-primary-text-color mb-0 text-sm"
          >Xem trang cá nhân</span
        >
      </button>
    </mat-menu>
    <!--Icon to open Child comments -->
    <div class="absolute ml-4 -bottom-6 cursor-pointer">
      <span
        (click)="openReplies()"
        class="mr-2 text-gray-500 hover:text-blue-600"
        >Trả lời</span
      >
      <span
        (click)="openReplies()"
        *ngIf="this.comment.totalReplies > 0"
        class="text-gray-500 hover:text-blue-600"
        >{{ this.comment.totalReplies }} phản hồi
        <mat-icon
          [ngStyle]="{ color: 'gray' }"
          class="relative top-1.5 hover:text-blue-600"
          >reply</mat-icon
        ></span
      >
    </div>
  </div>
  <!-- Comment's images (if have) -->
  <app-slider
    class="cursor-pointer"
    *ngIf="this.comment._images.length > 0"
    [sliderItems]="this.comment._images"
  ></app-slider>
</div>
<!-- Replies -->
<div *ngIf="this.shouldOpenReplies" class="p-2">
  <div>
    <app-write-post-comment-form
      [commentForPostId]="this.comment._postId"
      [commentForParent]="this.commentForParent"
      (createCommentSuccess)="createCommentSuccess($event)"
    ></app-write-post-comment-form>
  </div>
  <div
    *ngFor="let comment of this.replies"
    [ngClass]="this.comment._nameParent ? '' : 'pl-5'"
  >
    <app-post-comment
      [comment]="comment"
      (deleteChildCmtSuccess)="deleteChildCmtSuccess(comment)"
    ></app-post-comment>
  </div>
  <span (click)="openReplies()" class="hover:text-blue-600 cursor-pointer ml-16"
    >Ẩn đi</span
  >
  <span
    *ngIf="this.currentReplyPage < this.totalReplyPage"
    (click)="loadReplies()"
    class="hover:text-blue-600 cursor-pointer ml-16"
    >Hiện thêm</span
  >
</div>
