<!-- Form content -->
<div
  class="relative w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
>
  <div *ngIf="isLoading" class="spinner__loading text-center">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <p
      class="text-center text-xl font-medium leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
    >
      Đăng nhập vào tài khoản
    </p>
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
      class="space-y-2 md:space-y-3"
    >
      <!-- Email input -->
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@company.com"
          ngModel
          required
          email
          #email="ngModel"
        />
        <mat-error
          *ngIf="(email.dirty || email.touched) && email.hasError('required')"
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </div>

      <!-- Password input -->
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Mật khẩu</label
        >
        <div class="relative">
          <input
            [type]="password"
            name="password"
            id="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            ngModel
            required
            minlength="8"
            #pw="ngModel"
          />
          <button
            class="absolute top-3 right-4"
            (click)="onEyesClick()"
            type="button"
          >
            <i class="fa fa-eye" aria-hidden="true" *ngIf="!isShow"></i>
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isShow"></i>
          </button>
        </div>
        <mat-error *ngIf="(pw.dirty || pw.touched) && pw.hasError('required')">
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </div>
      <!-- Remember me -->
      <!-- <div class="flex items-center justify-between">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              aria-describedby="remember"
              type="checkbox"
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="remember" class="text-gray-500 dark:text-gray-300"
              >Ghi nhớ tài khoản</label
            >
          </div>
        </div>
      </div> -->
      <!-- Đăng nhập -->
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="w-full space-y-2 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >
        Đăng nhập
      </button>
      <!-- Đăng nhập bằng GG -->
      <button
        type="button"
        (click)="loginWithGG()"
        class="w-full max-w font-medium text-sm shadow-sm rounded-lg py-1 bg-indigo-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline"
      >
        <div class="bg-white p-2 rounded-full">
          <svg class="w-4" viewBox="0 0 533.5 544.3">
            <path
              d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
              fill="#4285f4"
            />
            <path
              d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
              fill="#34a853"
            />
            <path
              d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
              fill="#fbbc04"
            />
            <path
              d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
              fill="#ea4335"
            />
          </svg>
        </div>
        <span class="ml-4"> Đăng nhập với Gmail </span>
      </button>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
        Chưa có tài khoản?
        <a
          [routerLink]="['/auth/signup']"
          class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >Đăng ký ngay</a
        >
        <a
          (click)="onForgetPasswordClick()"
          class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500 ml-2"
          >Quên mật khẩu?</a
        >
      </p>

      <notifier-container></notifier-container>
    </form>
  </div>
</div>
