<!-- Avatar - Comment text area - emoji picker -->
<div
  *ngIf="this.currentUser"
  class="flex relative gap-1 ml-10 mb-6 px-2 py-4 shadow-lg rounded-md w-full"
>
  <img
    src="{{ this.currentUser?._avatar }}"
    alt="User avatar"
    class="w-8 h-8 rounded-full"
  />
  <form [formGroup]="commentEditForm" class="w-full mr-7">
    <textarea
      id="message"
      rows="2"
      (focus)="onFocus()"
      formControlName="commentInputControl"
      class="block p-2.5 min-w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
      placeholder="Write your thoughts here..."
    ></textarea>
    <div class="flex justify-between cursor-pointer text-left mt-1">
      <div (click)="toggleEmojiPicker()">😀</div>
      <button
        (click)="submitComment()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Gửi
      </button>
    </div>
    <emoji-mart
      class="emoji-mart"
      set="facebook"
      *ngIf="showEmojiPicker"
      (emojiSelect)="addEmoji($event)"
      title="Pick your emoji…"
    ></emoji-mart>
  </form>
</div>
<notifier-container></notifier-container>
